
           {% for e in events %}


            <div class="col-md-4 height400">

                <article class="card-post">


                    <div class="card-post-content fl-wrap">

                        <h3><a href="{{ path('event',{'slug':e.slug}) }}">{{ e.name }}</a></h3>
                        {% if e.active == false %}
                        <span class="alert alert-danger">!!!!ANNULÉ!!!</span>
                        {% endif %}

                                <a class="btn update-btn color-bg flat-btn" href="{{ path('admin-events-update', {'id':e.id}) }}">modif</a>

                        <p>{{ e.description }}</p>


                        {% for b in e.bands %}
                        <div class="post-author"><a href="{{ path('band', {'slug':b.slug}) }}"><span>{{ b.name }}</span></a></div>
                       {% endfor %}

                        <div class="post-opt">

                            <ul>
                                <li><i class="fa fa-calendar-check-o"></i><span>{{ e.date|date("d/m/Y") }}</span></li>

                            </ul>
                        </div>
                    </div>

                </article>


            </div>

            {% endfor %}
            <div class="pagination">
                {{ knp_pagination_render(events) }}
            </div>
