<!DOCTYPE html>
<html>
<head>
    <style>
        #map {
            height: 600px;
            width: 100%;
        }
    </style>
</head>
<body>
<h3>Bands n' Gigs Google map</h3>
<div id="map"></div>
<script>
    function initMap() {

        var belgium = {lat: 50.503887, lng: 4.469936};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 8,
            center: belgium,
            styles: [
                {elementType: 'geometry', stylers: [{color: '#242f3e'}]},
                {elementType: 'labels.text.stroke', stylers: [{color: '#242f3e'}]},
                {elementType: 'labels.text.fill', stylers: [{color: '#746855'}]},
                {
                    featureType: 'administrative.locality',
                    elementType: 'labels.text.fill',
                    stylers: [{color: '#d59563'}]
                },
                {
                    featureType: 'poi',
                    elementType: 'labels.text.fill',
                    stylers: [{color: '#d59563'}]
                },
                {
                    featureType: 'poi.park',
                    elementType: 'geometry',
                    stylers: [{color: '#263c3f'}]
                },
                {
                    featureType: 'poi.park',
                    elementType: 'labels.text.fill',
                    stylers: [{color: '#6b9a76'}]
                },
                {
                    featureType: 'road',
                    elementType: 'geometry',
                    stylers: [{color: '#38414e'}]
                },
                {
                    featureType: 'road',
                    elementType: 'geometry.stroke',
                    stylers: [{color: '#212a37'}]
                },
                {
                    featureType: 'road',
                    elementType: 'labels.text.fill',
                    stylers: [{color: '#9ca5b3'}]
                },
                {
                    featureType: 'road.highway',
                    elementType: 'geometry',
                    stylers: [{color: '#746855'}]
                },
                {
                    featureType: 'road.highway',
                    elementType: 'geometry.stroke',
                    stylers: [{color: '#1f2835'}]
                },
                {
                    featureType: 'road.highway',
                    elementType: 'labels.text.fill',
                    stylers: [{color: '#f3d19c'}]
                },
                {
                    featureType: 'transit',
                    elementType: 'geometry',
                    stylers: [{color: '#2f3948'}]
                },
                {
                    featureType: 'transit.station',
                    elementType: 'labels.text.fill',
                    stylers: [{color: '#d59563'}]
                },
                {
                    featureType: 'water',
                    elementType: 'geometry',
                    stylers: [{color: '#17263c'}]
                },
                {
                    featureType: 'water',
                    elementType: 'labels.text.fill',
                    stylers: [{color: '#515c6d'}]
                },
                {
                    featureType: 'water',
                    elementType: 'labels.text.stroke',
                    stylers: [{color: '#17263c'}]
                }
            ]
        });

        var infowindow = new google.maps.InfoWindow({
            content: ''
        });

        function addInfoWindowToMarker(map, marker, contentString) {

            marker.addListener('click', function () {
                infowindow.close();
                infowindow.setContent(contentString);
                infowindow.open(map, this);
            });
        }


        {% for e in events %}
        var contentString =
            '<div id="content" class="mymapstyle">' +
            '<div ' +
            'id="siteNotice">' +
            '</div>' +
            '<b><h3 id="firstHeading">{{ e.name }}</h3></b>' +
            '<div id="bodyContent">' +
            '<a href="{{ path('event', {'slug':e.slug}) }}"><img src="{{ e.flyer.url }}" alt="{{ e.name }}" width="300px"/></a>' +
            '<p>{{ e.description }}</p>' +

            '<div class="address">' +
                {% if e.venue %}
            '<p><i class="fa fa-address-book"> {{ e.venue.streetName }}, {{ e.venue.houseNb }}, {{ e.venue.locality.locality }}</i></p>' +
            '<p><i class="fa fa-phone"> {{ e.venue.phone }}</i></p>' +
            '<p><i class="fa fa-desktop"><a href="{{ e.venue.website }}"> {{ e.venue.website }}</a></i></p>' +
                {% endif %}
            '</div>' +
            '</div>' +
            '</div>';

        {% if e.venue %}
        var venue = {lat:{{ e.venue.lat }}, lng: {{ e.venue.lng }} };


        var marker = new google.maps.Marker({
            position: venue,
            icon: 'https://upload.wikimedia.org/wikipedia/commons/e/e7/Map_marker_icon_%E2%80%93_Nicolas_Mollet_%E2%80%93_Classical_music_%E2%80%93_Culture_%26_Entertainment_%E2%80%93_Default.png',
            map: map
        });

        addInfoWindowToMarker(map, marker, contentString);

        {% endif %}

        {% endfor %}

    }


</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-nXEJ0eim6B9-G3B9GQLUnLsNxrs9A7g&callback=initMap">
</script>
</body>
</html>