<div class="home-map fl-wrap">
    <!-- Map -->
    <div class="map-container fw-map">
        <div id="map-main">
        </div>
    </div>
    <!-- Map end -->
    <div class="absolute-main-search-input">
        <div class="container">
            <div class="main-search-input fl-wrap">
                <div class="main-search-input-item">
                    <input type="text" placeholder="What are you looking for?" value=""/>

                </div>
               {% for v in venues %}
                    <div>
                        <input value="{{ v.lat }}" id="lat" name="lat" type="hidden"/>
                        <input value="{{ v.lng }}" id="lng" name="lng" type="hidden"/>
                        <input value="{{ v.name }}" id="name" name="name" type="hidden"/>
                        <input value="{{ v.streetName }}" id="streetname" name="streetname" type="hidden"/>
                        <input value="{{ v.houseNb }}" id="housenb" type="hidden"/>
                        <input value="{{ v.locality.locality }}" id="locality" name="locality" type="hidden"/>
                        <input value="{{ v.photo.url }}" id="photo" name="photo" type="hidden"/>
                    </div>
                {% endfor %}
                <div class="main-search-input-item location">
                    <input type="text" placeholder="Location" value=""/>
                    <a href="#"><i class="fa fa-dot-circle-o"></i></a>
                </div>
                <div class="main-search-input-item">
                    <select data-placeholder="All Categories" class="chosen-select">
                        <option>All Categories</option>
                        <option>Shops</option>
                        <option>Hotels</option>
                        <option>Restaurants</option>
                        <option>Fitness</option>
                        <option>Events</option>
                    </select>
                </div>
                <button class="main-search-button"
                        onclick="window.location.href='listings-half-screen-map-list.html'">Search
                </button>
            </div>
        </div>
    </div>
</div>