<section id="sec2">
    <div class="container">
        <div class="section-title">
            <h2>Cafés-concerts</h2>
            <div class="section-subtitle">Les derniers cafés-concerts</div>
            <span class="section-separator"></span>
            <p>Découvrez les meilleurs cafés-concerts</p>
        </div>
        <!-- portfolio start -->

        <div class="gallery-items fl-wrap mr-bot spad">
            <!-- gallery-item-->
            {% for v in lastvenues|slice(0,5) %}
                {% if loop.index0 ==1 %}
                    {% set gallery='gallery-item-second' %}
                {% else %}
                    {% set gallery = '' %}
                {% endif %}
                <div class="gallery-item {{ gallery }}">
                    <div class="grid-item-holder">
                        <div class="listing-item-grid">
                            <img src="{{ v.photo.url }}" alt="{{ v.name }}">

                            <div class="listing-item-cat">
                                <h3><a href="{{ path('venue', {'slug':v.slug}) }}">{{ v.name }}</a></h3>
                                <p>{{ v.description }}</p>
                            </div>
                        </div>
                    </div>

                </div>

            {% endfor %}
        </div>
    </div>
</section>