<h1>ANNULATION DU CONCERT {{ event.name }}</h1>
<p>Bonjour {{ spectator.firstName }}, nous sommes au regret de vous annoncer l'annulation du concert {{ event.name }}
    qui avait lieu a {{ event.venue.name }} le {{ event.date|date("m/d/y") }}.</p>

<p>Les places que vous avez achetées vous serons remboursées....</p>

<p>Merci pour votre compréhension</p>

<p>L'équipe Bands'n Gigs</p>