{% extends "pages/default/layout.html.twig" %}

{% block content %}
<!-- wrapper -->
<div id="wrapper">
    <!-- content-->
    <div class="content">
        <!--  section  -->
        <section class="parallax-section single-par list-single-section" data-scrollax-parent="true" id="sec1">
            <div class="bg par-elem "  data-bg="{{ event.folder.url }}" data-scrollax="properties: { translateY: '30%' }"></div>
            <div class="overlay"></div>
            <div class="bubble-bg"></div>
            <div class="list-single-header absolute-header fl-wrap">
                <div class="container">
                    <div class="list-single-header-item">
                        <h2>{{ event.name }} <span> - in </span><a href="{{ path('venue', {'slug':event.venue.slug}) }}">{{ event.venue.name }}</a> </h2>
                        <span class="section-separator"></span>
                        <div class="clearfix"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="list-single-header-contacts fl-wrap">
                                    <ul>
                                        <li><i class="fa fa-phone"></i><a  href="tel:{{ event.venue.phone }}">{{ event.venue.phone }}</a></li>
                                        <li><i class="fa fa-map-marker"></i><a  href="http://maps.google.fr/maps?f=q&hl=fr&q={{ event.venue.streetName }}, {{ event.venue.houseNb }} - {{ event.venue.locality.locality }}" target="_blank">{{ event.venue.streetName }}, {{ event.venue.houseNb }} - {{ event.venue.locality.locality }}</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="fl-wrap list-single-header-column">
                                    <div class="share-holder hid-share">
                                        <div class="showshare"><span>Share </span><i class="fa fa-share"></i></div>
                                        <div class="share-container  isShare"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--  section end -->

        <div class="scroll-nav-wrapper fl-wrap">
            <div class="container">
                <nav class="scroll-nav scroll-init">
                    <ul>
                        <li><a class="act-scrlink" href="#sec1">Top</a></li>
                        <li><a href="#sec2">Details</a></li>
                        <li><a href="#sec3">Speakers</a></li>
                        <li><a href="#sec4">Reviews</a></li>
                    </ul>
                </nav>
                <a href="#" class="save-btn"> <i class="fa fa-heart"></i> Save </a>
            </div>
        </div>
        <!-- section-->
        <section class="gray-section no-top-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="list-single-main-wrapper fl-wrap" id="sec2">
                            <div class="list-single-main-item fl-wrap">
                                <div class="list-single-main-item-title fl-wrap">
                                    <h3>About Event</h3>
                                </div>
                                <p>{{ event.description }}</p>
                                <a href="#" class="btn transparent-btn float-btn">Download Flyers<i class="fa fa-file-pdf-o"></i></a>
                                <span class="fw-separator"></span>

                                <div class="list-single-main-item-title fl-wrap">
                                    <h3>Tags</h3>
                                </div>

                                <div class="list-single-tags tags-stylwrap">
                                    {% for s in event.styles %}
                                    <a href="#">{{ s.style }}</a>
                                    {% endfor %}
                                </div>

                            </div>
                            <!-- list-single-main-item -->
                            <div class="list-single-main-item fl-wrap" id="sec3">
                                <div class="list-single-main-item-title fl-wrap">
                                    <h3>Bands  </h3>
                                </div>
                                <div class="team-holder fl-wrap">
                                    {% for b in event.bands %}
                                    <!-- team-item -->
                                    <div class="team-box">
                                        <div class="team-photo">
                                            <img src="{{ b.logo.url }}" alt="{{ b.name }}" class="respimg">
                                        </div>
                                        <div class="team-info">
                                            <h3><a href="{{ path('band', {'slug':b.slug}) }}">{{ b.name }}</a></h3>
                                             {% for s in b.styles %}
                                            <h4>{{ s.style }}</h4>
                                                 {% endfor %}
                                            <p>{{ b.description }}</p>

                                        </div>
                                    </div>
                                    <!-- team-item  end-->
                                   {% endfor %}
                                </div>
                            </div>
                            <!-- list-single-main-item end -->

                        </div>
                    </div>
                    <!--box-widget-wrap -->
                    <div class="col-md-4">
                        <div class="box-widget-wrap">
                            <!--box-widget-item -->
                            <div class="box-widget-item fl-wrap">
                                <div class="box-widget-item-header">
                                    <h3>Register Now : </h3>
                                </div>
                                <div class="box-widget opening-hours">
                                    <div class="box-widget-content">
                                        <form   class="add-comment custom-form">
                                            <fieldset>
                                                <label><i class="fa fa-user-o"></i></label>
                                                <input type="text" placeholder="Your Name *" value=""/>
                                                <div class="clearfix"></div>
                                                <label><i class="fa fa-envelope-o"></i>  </label>
                                                <input type="text" placeholder="Email Address*" value=""/>
                                                <label><i class="fa fa-phone"></i>  </label>
                                                <input type="text" placeholder="Phone*" value=""/>
                                                <div class="quantity fl-wrap">
                                                    <span><i class="fa fa-user-plus"></i>Persons : </span>
                                                    <div class="quantity-item">
                                                        <input type="button" value="-" class="minus">
                                                        <input type="text"    name="quantity" value="1" title="Qty" class="qty" size="4">
                                                        <input type="button" value="+" class="plus">
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <button class="btn  big-btn  color-bg flat-btn">Book Now<i class="fa fa-angle-right"></i></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!--box-widget-item end -->
                            <!--box-widget-item -->
                            <div class="box-widget-item fl-wrap">
                                <div class="box-widget-item-header">
                                    <h3>Location / Contacts : </h3>
                                </div>
                                <div class="box-widget">
                                    <div class="map-container">
                                        <div id="singleMap" data-latitude="40.7427837" data-longitude="-73.11445617675781"></div>
                                    </div>
                                    <div class="box-widget-content">
                                        <div class="list-author-widget-contacts list-item-widget-contacts">
                                            <ul>
                                                <li><span><i class="fa fa-map-marker"></i> Adress :</span> <a href="#">USA 27TH Brooklyn NY</a></li>
                                                <li><span><i class="fa fa-phone"></i> Phone :</span> <a href="#">+7(123)987654</a></li>
                                                <li><span><i class="fa fa-envelope-o"></i> Mail :</span> <a href="#">AlisaNoory@domain.com</a></li>
                                                <li><span><i class="fa fa-globe"></i> Website :</span> <a href="#">themeforest.net</a></li>
                                            </ul>
                                        </div>
                                        <div class="list-widget-social">
                                            <ul>
                                                <li><a href="#" target="_blank" ><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#" target="_blank" ><i class="fa fa-vk"></i></a></li>
                                                <li><a href="#" target="_blank" ><i class="fa fa-whatsapp"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--box-widget-item end -->

                            <!--box-widget-item -->
                            <div class="box-widget-item fl-wrap">
                                <div class="box-widget-item-header">
                                    <h3>More events from this venue : </h3>
                                </div>
                                <div class="box-widget widget-posts">
                                    <div class="box-widget-content">
                                        <ul>
                                            {% for e in event.venue.events %}
                                            <li class="clearfix">
                                                <a href="{{ path('event', {'slug':e.slug}) }}"  class="widget-posts-img"><img src="{{ e.folder.url }}"  alt=""></a>
                                                <div class="widget-posts-descr">
                                                    <a href="{{ path('event', {'slug':e.slug}) }}" title="">{{ e.name }}</a>
                                                    <span class="widget-posts-date"><i class="fa fa-calendar-check-o"></i>{{ e.date|date("d/m/Y") }} </span>
                                                </div>
                                            </li>
                                                {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--box-widget-item end -->
                        </div>
                    </div>
                    <!--box-widget-wrap end -->
                </div>
            </div>
        </section>
        <!-- section end-->


    </div>
    <!-- content end-->
</div>
<!-- wrapper end -->

{% endblock %}