{% extends "pages/default/layout.html.twig" %}

{% block content %}

    <!--content -->
    <div class="content">
        <!--section -->
        <section>
            <!-- container -->
            <div class="container">
                <!-- profile-edit-wrap -->
                <div class="profile-edit-wrap">
                    <div class="profile-edit-page-header">
                        <h2>New band</h2>
                    </div>
                </div>
                <div class="row">

                    {% block left %}
                        <div class="col-md-7">
                            <!-- profile-edit-container-->
                            {{ form_start(eventForm) }}
                            <div class="profile-edit-container">
                                <div class="custom-form">
                                    {{ form_row(eventForm.name) }}

                                    <div class="check-user floatleft marginbottom20">
                                        {{ form_row(eventForm.users) }}
                                    </div>

                                    <section class="check-user test">
                                        <p>You can add unscribed people in the website on your band page</p>
                                        <ul class="members"
                                            data-prototype="{{ form_row(eventForm.unscribedMembers.vars.prototype)|e }}">
                                        </ul>
                                    </section>


                                    {{ form_row(eventForm.logo, {'attr':{'class': 'floatleft', 'label':'Logo'}}) }}
                                    {{ form_row(eventForm.mail) }}
                                    {{ form_row(eventForm.phone) }}
                                    {{ form_row(eventForm.website) }}
                                    {{ form_row(eventForm.locality, {'attr':{'class':'select-locality floatleft fontsize14 marginbottom20'}}) }}


                                    <section class="check-user floatleft formbackground">
                                        <div class="col-md-6">
                                            {{ form_row(eventForm.styles) }}
                                        </div>

                                    </section>

                                    {{ form_row(eventForm.description) }}
                                    <button class="btn  big-btn  color-bg flat-btn">Save Changes<i
                                                class="fa fa-angle-right"></i></button>
                                </div>
                            </div>

                            <!-- profile-edit-container end-->
                            {{ form_end(eventForm) }}
                        </div>
                    {% endblock %}
                </div>
            </div>
            <!--profile-edit-wrap end -->
            <!--container end -->
        </section>
        <!-- section end -->
        <div class="limit-box fl-wrap"></div>

    </div>


{% endblock %}
