{% extends "pages/default/layout.html.twig" %}

{% block content %}

    <!--content -->
    <div class="content">
        <!--section -->
        <section>
            <!-- container -->
            <div class="container">
                <!-- profile-edit-wrap -->
                <div class="profile-edit-wrap">
                    <div class="profile-edit-page-header">
                        <h2>New event</h2>
                    </div>
                </div>
                <div class="row">

                    {% block left %}
                        <div class="col-md-7">
                            <!-- profile-edit-container-->
                            {{ form_start(eventForm, {'attr':{novalidate:'novalidate'}}) }}
                            <div class="profile-edit-container">
                                <div class="profile-edit-header fl-wrap">
                                    <h4>Nom de l'évènement, date et groupes à l'affiche</h4>
                                </div>
                                <div class="custom-form">
                                    {{ form_row(eventForm.name) }}
                                    {{ form_row(eventForm.date, {'attr':{'class': 'floatleft', 'label':'Date'}}) }}
                                    {{ form_row(eventForm.time, {'attr':{'class': 'floatleft marginbottom20', 'label':'Time'}}) }}
                                    {{ form_row(eventForm.bands) }}
                                    <br>
                                    <div class="check-user bigmarginright">
                                        <p>You can add unsubscribed bands in the website on in this event</p>
                                        <ul class="members"
                                            data-prototype="{{ form_row(eventForm.unsubscribedBands.vars.prototype)|e }}">
                                        </ul>
                                    </div>
                                </div>
                                <div class="profile-edit-header fl-wrap margintop20">
                                    <h4>Location</h4>
                                </div>
                                <div class="custom-form">
                                    <div class="floatleft">
                                        {{ form_row(eventForm.typeVenue) }}
                                    </div>
                                    <div class="check-user floatleft marginbottom20 js-sub-venue">
                                        {{ form_row(eventForm.venue) }}
                                    </div>

                                    <div class="check-user floatleft marginbottom20 js-unsub-venue">
                                        {{ form_row(eventForm.unsubscribedVenue) }}
                                    </div>
                                </div>
                                <div class="profile-edit-header fl-wrap margintop20">
                                    <h4>Détails</h4>
                                </div>
                                <div class="custom-form">

                                    {{ form_row(eventForm.styles, {'attr':{'class':'js-example-basic-multiple fullwidth'}}) }}
                                    <div class="margintop20">
                                        {{ form_row(eventForm.description) }}
                                        {{ form_row(eventForm.price, {'attr':{'class': 'floatleft', 'label':'Price'}}) }}
                                        {{ form_row(eventForm.flyer, {'attr':{'class': 'floatleft', 'label':'Flyer'}}) }}
                                    </div>

                                </div>

                                <button class="btn  big-btn  color-bg flat-btn">Save Changes<i
                                            class="fa fa-angle-right"></i></button>
                            </div>
                            <!-- profile-edit-container end-->
                            {{ form_widget(eventForm._token) }}


                            {{ form_end(eventForm, {'render_rest':false }) }}
                        </div>
                    {% endblock %}
                </div>
            </div>
            <!--profile-edit-wrap end -->
            <!--container end -->
        </section>
        <!-- section end -->
    </div>
    <div class="limit-box fl-wrap"></div>



{% endblock %}
{% block javascripts %}

    {{ parent() }}


    <script src="{{ asset('js/addmember.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/addmemberForm.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/deletemember.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/venuetype.js') }}" type="text/javascript"></script>


{% endblock %}