{% extends "pages/events/layout.html.twig" %}


{% block right %}
    {{ form_start(eventForm) }}
    <div class="col-md-7">
        <!-- profile-edit-container-->
        {{ form_start(eventForm) }}
        <div class="profile-edit-container">
            <div class="custom-form">
                {{ form_row(eventForm.name) }}
                <section>
                    <h3>Date and Time</h3>
                    {{ form_row(eventForm.date, {'attr':{'class': 'floatleft', 'label':'Date'}}) }}
                    {{ form_row(eventForm.time, {'attr':{'class': 'floatleft', 'label':'Time'}}) }}
                </section>
                <div class="check-user floatleft marginbottom20">
                    {{ form_row(eventForm.bands, {'attr':{'class':'js-example-basic-multiple', 'style':'width:100%'}}) }}
                </div>


                <section class="check-user bigmarginright">
                    <p>You can add unsubscribed bands in the website on in this event</p>
                    <ul class="members"
                        data-prototype="{{ form_row(eventForm.unsubscribedBands.vars.prototype)|e }}">
                    </ul>
                </section>
                <div class="check-user floatleft marginbottom20 ">
                    {{ form_row(eventForm.venue) }}
                </div>


                {% if event.venue is empty %}
                <div class="check-user floatleft marginbottom20 js-unsub-venue">
                    {{ form_row(eventForm.unsubscribedVenue) }}
                </div>
                {% endif %}

                <section class="check-user floatleft formbackground">
                    <div class="col-md-6">
                        {{ form_row(eventForm.styles, {'attr':{'class':'js-example-basic-multiple fullwidth'}}) }}
                    </div>
                </section>

                {{ form_row(eventForm.description) }}

                <section>
                    {{ form_row(eventForm.price, {'attr':{'class': 'floatleft', 'label':'Price'}}) }}
                </section>

                <button class="btn  big-btn  color-bg flat-btn">Save Changes<i
                            class="fa fa-angle-right"></i></button>
            </div>
        </div>
    </div>
    {{ form_widget(eventForm._token) }}


    <!-- profile-edit-container end-->
    {{ form_end(eventForm, {'render_rest':false}) }}

    <div class="col-md-2">
        <div class="edit-profile-photo fl-wrap">
            <img src="{{ event.flyer.url }}" class="respimg" alt="">
        </div>

    </div>


{% endblock %}

{% block javascripts %}

{{ parent() }}

    <script>
        $("document").ready(function () {

            $(".js-venue").change(function () {

                if ($(this).val() == '' ) {
                    $(".js-unsub-venue").show()
                }else{
                    $(".js-unsub-venue").hide()
                }

            })
        })
    </script>

<script src="{{ asset('js/addmember.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/addmemberForm.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/deletemember.js') }}" type="text/javascript"></script>

{% endblock %}