{% extends "pages/admin/layout.html.twig" %}


{% block right %}
    {{ form_start(bandForm) }}

    <div class="col-md-7">

        <!-- profile-edit-container-->
        <div class="profile-edit-container add-list-container">
            <div class="profile-edit-header fl-wrap">
                <button type="submit" class="btn color-bg flat-btn floatright">ENREGISTRER<i
                            class="fa fa-angle-right"></i>
                </button>
                <h4>INFORMATIONS DIVERSES</h4>
            </div>
            <div class="custom-form">
                {{ form_row(bandForm.name, {'label':'Nom'}) }}
                {{ form_row(bandForm.locality, {'label':'Localité', 'attr':{'class':'js-example-basic-single'}}) }}
                {{ form_row(bandForm.styles, {'attr':{'class':'js-example-basic-multiple fullwidth'}}) }}
                {{ form_row(bandForm.mail) }}
                {{ form_row(bandForm.phone, {'label':'Téléphone'}) }}
                {{ form_row(bandForm.website) }}
                {{ form_row(bandForm.description) }}
                {{ form_row(bandForm.members, {'attr':{'class':'js-example-basic-multiple', 'style':'width:100%'}}) }}
                {{ form_row(bandForm.videoPlaylist) }}
                {{ form_row(bandForm.audioPlaylist) }}
                {{ form_row(bandForm.active, {'label':'Voulez-vous supprimer ce groupe ?', 'attr':{'class':'custom-form'}}) }}

            </div>

        </div>


        {{ form_end(bandForm) }}


    </div>
    <div class="col-md-2">
        <div class="edit-profile-photo fl-wrap">
            <img src="{{ band.logo.url }}" class="respimg" alt="{{ band.name }}">
        </div>
        <a href="{{ path('admin-bands-gallery', {'id':id}) }}" class="btn transparent-btn float-btn custom-scroll-link width150">Gallery <i class="fa fa-image"></i></a>



    </div>
{% endblock %}

