{# PAGE D'UN GROUPE #}

{% extends "pages/default/layout.html.twig" %}

{% block content %}

    <!-- content -->
    <div class="content">
        <!--section -->
        <section class="parallax-section" data-scrollax-parent="true">
            <div class="bg par-elem " data-bg="{{ band.logo.url }}"
                 data-scrollax="properties: { translateY: '30%' }"></div>
            <div class="overlay"></div>
            <div class="container">
                <div class="section-title">

                    <h2>{{ band.name }}</h2>

                    <span class="section-separator"></span>
                    {% if app.user %}
                        <div class="list-post-counter single-list-post-counter js-fav-item">
                            <a href="#"
                               class="js-fav"
                               data-url="{{ path('favorites',{type:'band', id:band.id}) }}">
                                {% if favorite == 'unliked' %}
                                    <i class="fa fa-heart-o"></i>
                                {% endif %}
                                {% if favorite == 'liked' %}
                                    <i class="fa fa-heart"></i>
                                {% endif %}
                            </a>
                        </div>
                    {% endif %}
                </div>

            </div>
            <div class="header-sec-link">
                <div class="container"><a href="#sec1" class="custom-scroll-link">Let's Start</a></div>
            </div>
        </section>
        <!-- section end -->
        <!--section -->
        <section class="gray-section" id="sec1">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="list-single-main-wrapper fl-wrap" id="sec2">
                            <!-- article> -->
                            <article>
                                <div class="list-single-main-media fl-wrap">
                                    <div class="single-slider-wrapper fl-wrap">
                                        <div class="single-slider fl-wrap">

                                            {% if band.gallery is not empty %}
                                                {% for i in band.gallery %}
                                                    <div class="slick-slide-item">
                                                        <img src="{{ i.url }}" alt="{{ i.band.name }}">
                                                    </div>
                                                {% endfor %}
                                            {% else %}
                                                <img src="{{ band.logo.url }}" alt="{{ band.name }}">
                                            {% endif %}

                                        </div>
                                        <div class="swiper-button-prev sw-btn"><i class="fa fa-long-arrow-left"></i>
                                        </div>
                                        <div class="swiper-button-next sw-btn"><i
                                                    class="fa fa-long-arrow-right"></i></div>
                                    </div>
                                </div>
                                <div class="list-single-main-item fl-wrap">
                                    <div class="list-single-main-item-title fl-wrap">
                                        <h3>Description</h3>
                                    </div>
                                    <p>{{ band.description }}</p>
                                    {% for u in band.members %}
                                        <div class="post-author"><a href="{{ path('user', {'id':u.id}) }}"><img
                                                        src="{{ u.avatar.url }}"
                                                        alt="{{ u.firstName }}"><span>{{ u.firstName }}</span></a>
                                        </div>
                                    {% endfor %}
                                    {% for m in band.unscribedMembers %}
                                        <div class="post-author"><img
                                                    src="/images/avatar/avatar-bg.png"
                                                    alt="{{ m.nickName }}"><span>{{ m.nickName }}</span>
                                        </div>
                                    {% endfor %}

                                    <span class="fw-separator"></span>
                                    <div class="list-single-main-item-title fl-wrap">
                                        <h3>Tags</h3>
                                    </div>
                                    <div class="list-single-tags tags-stylwrap blog-tags">
                                        {% for s in band.styles %}
                                            <a href="#">{{ s.style }}</a>
                                        {% endfor %}
                                    </div>
                                    <div class="share-holder hid-share">
                                        <div class="showshare"><span>Share </span><i class="fa fa-share"></i></div>
                                        <div class="share-container  isShare"></div>
                                    </div>
                                </div>
                            </article>
                            <!-- article end -->
                            <span class="section-separator"></span>

                        </div>
                        <!-- list-single-main-item-->
                        {% if videos %}
                            <div class="list-single-main-item fl-wrap" id="sec3">
                                <div class="list-single-main-item-title fl-wrap">
                                    <h3>Video playlist</h3>
                                </div>
                                <div class="list-single-main-media fl-wrap">
                                    <div class="single-slider-wrapper fl-wrap">
                                        <div class="single-slider fl-wrap">


                                            {% for v in videos %}


                                                <div class="slick-slide-item">
                                                    <iframe width="640" height="480"
                                                            src="https://www.youtube.com/embed/{{ v.snippet.resourceId.videoId }}"
                                                            frameborder="0"
                                                            allowfullscreen></iframe>
                                                </div>
                                            {% endfor %}

                                        </div>
                                        <div class="swiper-button-prev sw-btn"><i class="fa fa-long-arrow-left"></i>
                                        </div>
                                        <div class="swiper-button-next sw-btn"><i
                                                    class="fa fa-long-arrow-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <!-- list-single-main-item end -->
                    </div>
                    <!--box-widget-wrap -->
                    <div class="col-md-4">
                        <div class="box-widget-wrap">

                            <!--box-widget-item -->
                            {% for u in band.members %}
                                <div class="box-widget-item fl-wrap">

                                    <div class="box-widget list-author-widget">
                                        <div class="list-author-widget-header shapes-bg-small  color-bg fl-wrap">
                                            <span class="list-author-widget-link"><a
                                                        href="{{ path('user',{'id':u.id}) }}">{{ u.firstName }} {{ u.lastName }}</a></span>
                                            <img src="{{ u.avatar.url }}" alt="{{ u.firstName }}">
                                        </div>
                                        <div class="box-widget-content">
                                            <div class="list-author-widget-text">
                                                {% for i in u.instruments %}
                                                    <p>{{ i.name }}</p>
                                                {% endfor %}
                                                <div class="list-author-widget-contacts">
                                                    <ul>
                                                        <li><span><i class="fa fa-phone"></i> Phone :</span> <a
                                                                    href="tel:{{ u.phone }}">{{ u.phone }}</a></li>
                                                        <li><span><i class="fa fa-envelope-o"></i> Mail :</span> <a
                                                                    href="mailto:{{ u.email }}">{{ u.email }}</a></li>
                                                    </ul>
                                                </div>
                                                <a href="{{ path('user',{'id':u.id}) }}" class="btn transparent-btn">View
                                                    Profile <i class="fa fa-eye"></i></a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            {% endfor %}

                            {% for m in band.unscribedMembers %}
                                <div class="box-widget-item fl-wrap">

                                    <div class="box-widget list-author-widget">
                                        <div class="list-author-widget-header shapes-bg-small  color-bg fl-wrap">
                                            <span class="list-author-widget-link"><a
                                                        href="#">{{ m.nickName }}</a></span>
                                            <img src="/images/avatar/avatar-bg.png">
                                        </div>
                                        <div class="box-widget-content">
                                            <div class="list-author-widget-text">
                                                {% for i in m.instruments %}
                                                    <p>{{ i.name }}</p>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <!--box-widget-item end -->
                            <!--box-widget-item -->
                            {% if band.events is not empty %}
                                <div class="box-widget-item fl-wrap">
                                    <div class="box-widget-item-header">
                                        <h3>Events : </h3>
                                    </div>
                                    <div class="box-widget widget-posts blog-widgets">
                                        <div class="box-widget-content">
                                            <ul>
                                                {% for e in events %}
                                                    {% if e.active == true %}
                                                        <li class="clearfix">
                                                            <a href="{{ path('event', {'slug':e.slug}) }}"
                                                               class="widget-posts-img"><img src="{{ e.flyer.url }}"
                                                                                             alt="{{ e.name }}"></a>
                                                            <div class="widget-posts-descr">
                                                                <a href="{{ path('event', {'slug':e.slug}) }}"
                                                                   title="">{{ e.name }}</a>
                                                                <span class="widget-posts-date"><i
                                                                            class="fa fa-calendar-check-o"></i> {{ e.date|date("d/m/Y") }} </span>
                                                            </div>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            <!--box-widget-item end -->
                            <!--box-widget-item -->
                            {% if audio %}
                                <div class="box-widget-item fl-wrap">
                                    <div class="box-widget-item-header">
                                        <h3>Spotify : </h3>
                                    </div>
                                    <div class="box-widget widget-posts blog-widgets">
                                        <div class="box-widget-content">
                                            <iframe src="https://open.spotify.com/embed?uri=spotify:{{ audio }}"
                                                    width="300" height="380" frameborder="0" allowtransparency="true"
                                                    allow="encrypted-media"></iframe>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            <!--box-widget-item end -->
                        </div>
                    </div>
                    <!--box-widget-wrap end -->
                </div>
            </div>
        </section>
        <!--section end -->
        <div class="limit-box fl-wrap"></div>

    </div>
    <!--content end -->


{% endblock %}
    {% block javascripts %}

        {{ parent() }}
        <script src="{{ asset('js/favorites.js') }}" type="text/javascript"></script>


    {% endblock %}