{% for b in bands %}
    <!-- listing-item -->
    <div class="listing-item">

        <article class="geodir-category-listing fl-wrap">
            <a href="{{ path('band', {'slug':b.slug}) }}">
                <div class="geodir-category-img">

                    <img src="{{ b.logo.url }}" alt="" width="200px">

                    <div class="overlay"></div>
                    <div class="list-post-counter"><span>4</span><i class="fa fa-heart"></i></div>
                </div>
            </a>
            <div class="geodir-category-content fl-wrap">
                {% for s in b.styles %}
                    <a class="listing-geodir-category" href="#">{{ s.style }}</a>
                {% endfor %}
                {% for u in b.users %}
                    <div class="listing-avatar"><a href="{{ path('user', {'id':u.id}) }}"><img

                                    src="{{ u.avatar.url }}"
                                    alt="{{ u.firstName }}"></a>
                        <span class="avatar-tooltip">With <strong>{{ u.firstName }}</strong></span>
                    </div>
                {% endfor %}
                <h3><a href="{{ path('band',{'slug':b.slug}) }}">{{ b.name }}</a></h3>
                <p>{{ b.description }}</p>
                <div class="geodir-category-options fl-wrap">

                    <div class="geodir-category-location">
                        <a href="http://maps.google.fr/maps?f=q&hl=fr&q={{ b.locality.locality }}">
                            <i class="fa fa-map-marker"
                               aria-hidden="true"></i>
                            {{ b.locality.locality }}</a>

                    </div>

                    {% for u in b.users %}

                        {% if app.user.slug == u.slug %}
                            <a href="{{ path('bands-update', {'id':b.id}) }}"><i class="fa fa-star"
                                                                                 aria-hidden="true"></i> update</a>
                        {% endif %}
                    {% endfor %}

                </div>
            </div>
        </article>

    </div>
{% endfor %}
