{% extends "pages/bands/layout.html.twig" %}

{% block right %}

    <div class="col-md-7">
        <!-- profile-edit-container-->
        <div class="profile-edit-container add-list-container">
            <div class="profile-edit-header fl-wrap">
                <h4>Médias</h4>
            </div>
            {{ form_start(mediaForm) }}
            <div class="custom-form">
                <span class="js-play">
                {{ form_row(mediaForm.videoPlaylist) }}
                    </span>

                {{ form_row(mediaForm.audioPlaylist) }}

                <button class="btn big-btn color-bg flat-btn">Save Changes<i
                            class="fa fa-angle-right"></i></button>
            </div>
            {{ form_widget(mediaForm._token) }}

            {{ form_end(mediaForm, {'render_rest':false}) }}

        </div>
    </div>
{% endblock %}

