{% extends 'pages/bands/layout.html.twig' %}
{% block right %}
    {{ form_start(memberForm) }}
    <div class="col-md-7">


        <div class="custom-form">
            <div class="profile-edit-header fl-wrap">
                <h4>Gérer les membres</h4>
            </div>

            <div class="check-user floatleft marginbottom20">
                {{ form_row(memberForm.members, {'label':'Membres inscrits', 'attr':{'class':'js-example-basic-multiple', 'style':'width:100%'}}) }}
            </div>

            <section class="check-user bigmarginright">
                <p>Vous pouvez ajouter des utilisateurs non-inscrits dans votre page</p>

                <ul class="members"
                    data-prototype="{{ form_row(memberForm.unscribedMembers.vars.prototype)|e }}">
                    {% for m in memberForm.unscribedMembers %}
                    <li>{{ form_row(m.nickName) }}</li>
                    {% endfor %}
                </ul>
            </section>


            <button  class="btn  big-btn  color-bg flat-btn margintop20">Enregistrer<i class="fa fa-angle-right"></i>
            </button>

        </div>
    </div>
    {{ form_widget(memberForm._token) }}
    {{ form_end(memberForm, {'render_rest':false}) }}
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script src="{{ asset('js/addmemberForm.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/deletemember.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/addmember.js') }}" type="text/javascript"></script>









{% endblock %}