<div class="col-md-3">
    <div class="fixed-bar fl-wrap">
        <div class="user-profile-menu-wrap fl-wrap">
            <!-- user-profile-menu-->
            <div class="user-profile-menu">
                <h3>Main</h3>
                <ul>
                    <li><a href="{{ path('bands-update', {'id':id}) }}" class="user-profile-act"><i
                                    class="fa fa-user-o"></i> Edit band</a></li>
                    {#<li><a href="dashboard-messages.html"><i class="fa fa-envelope-o"></i> Messages#}
                    {#<span>3</span></a></li>#}
                    <li><a href="{{ path('image', {'type': 'logo', 'id':band.id }) }}"><i class="fa fa-unlock-alt"></i> Edit
                            Logo</a></li>

                    <li><a href="{{ path('gallery-image-new', {'type' : 'band', 'id':band.id }) }}"><i class="fa fa-star"></i> Edit Gallery
                        </a></li>

                    <li><a href="{{ path('bands-members', {'id' : band.id }) }}"><i class="fa fa-users"></i> Manage Members
                        </a></li>

                    <li><a href="{{ path('bands-medias', {'id' : band.id }) }}"><i class="fa fa-users"></i> Manage Media
                        </a></li>

                    <li><a href="{{ path('bands-remove', {'id' : band.id }) }}"><i class="fa fa-users"></i> Remove Band
                        </a></li>
                </ul>
            </div>
            <a href="{{ path('logout') }}" class="log-out-btn">Log Out</a>
        </div>
    </div>
</div>