{% extends "pages/users/layout.html.twig" %}


{% block right %}
    {{ form_start(bandForm) }}
    <div class="col-md-7">
        <!-- profile-edit-container-->
        <div class="profile-edit-container add-list-container">
            <div class="profile-edit-header fl-wrap">
                <h4>Basic Informations</h4>
            </div>
            <div class="custom-form">
                {{ form_row(bandForm.name) }}
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(bandForm.locality, {'attr':{'class':'chosen-select'}}) }}

                    </div>
                    <div class="col-md-6 check-user">
                        {{ form_row(bandForm.styles) }}
                    </div>
                </div>
            </div>
        </div>
        <!-- profile-edit-container end-->
        <!-- profile-edit-container-->
        <div class="profile-edit-container add-list-container">
            <div class="profile-edit-header fl-wrap">
                <h4>Location / Contacts</h4>
            </div>
            <div class="custom-form">
                {{ form_row(bandForm.mail) }}
                {{ form_row(bandForm.phone) }}
                {{ form_row(bandForm.website) }}
            </div>
        </div>

        <div class="profile-edit-container add-list-container">
            <div class="profile-edit-header fl-wrap">
                <h4>Detailed Information</h4>
            </div>
            <div class="custom-form">

                <div class="check-user floatleft marginbottom20">
                    {{ form_row(bandForm.users) }}
                </div>

                {% if band.unscribedMembers is not empty %}
                    <div class="js-unmembers-item">
                        <p>Unscribed Members</p>
                        {% for m in band.unscribedMembers %}
                            {{ m.nickName }}
                            <a href="#"
                               class="text-danger js-remove-member"
                               data-url="{{ path('unscribed_member_delete',{
                                   id: m.id,
                               }) }}"

                            >
                                <span class="fa fa-close">supprimer</span>
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}

                <section class="check-user bigmarginright">
                    <p>You can add unscribed people in the website on your band page</p>
                    <ul class="members"
                        data-prototype="{{ form_row(bandForm.unscribedMembers.vars.prototype)|e }}">
                    </ul>
                </section>

                {{ form_row(bandForm.description) }}
            </div>
        </div>
        <div class="profile-edit-container add-list-container">
            <div class="profile-edit-header fl-wrap">
                <h4>Images Gallery</h4>
                <div class="photoUpload">

                    <a href="{{ path('gallery-image-new', {'id':band.id }) }}" class="colorwhite"><i
                                class="fa fa-upload"></i> Add Photo</a>
                </div>
            </div>


            <div class="custom-form">
                {% if gallery is not empty %}
                    <ul style="list-style-type: none">
                        {% for i in gallery %}
                            <li class="col-sm-4 js-gallery-item">
                                <a href="#"
                                   class="js-remove-image-gallery"
                                   data-url="{{ path('gallery-image-delete',{
                                       band_id: i.band.id, img_id: i.id
                                   }) }}"
                                >
                                    <img src="{{ i.url }}" height="50px"/><br>
                                    <span class="fa fa-close"> remove</span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <span>Il n'y a pas d'image dans la galerie</span>
                {% endif %}

            </div>


                <button class="btn  big-btn  color-bg flat-btn margintop20">Save Changes<i class="fa fa-angle-right"></i></button>


            <!-- profile-edit-container end-->
        </div>

    </div>
    <!-- profile-edit-container end-->


    {{ form_widget(bandForm._token) }}

    {{ form_end(bandForm, {'render_rest':false}) }}

    {% block secondnav %}
        {% include "pages/bands/nav.html.twig" %}
    {% endblock %}


{% endblock %}

    {% block javascripts %}

        {{ parent() }}

        <script src="{{ asset('js/addmember.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/addmemberForm.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/deletemember.js') }}" type="text/javascript"></script>



        <script>
            jQuery(document).ready(function () {
                $('.js-remove-member').on('click', function (e) {
                    e.preventDefault();

                    var $el = $(this).closest('.js-unmembers-item');

                    $(this).find('.fa-close')
                        .removeClass('fa-close')

                    $.ajax({
                        url: $(this).data('url'),
                        method: 'DELETE'
                    }).done(function () {
                        $el.fadeOut();
                    })
                });

            });
        </script>

        <script>
            jQuery(document).ready(function () {
                $('.js-remove-image-gallery').on('click', function (e) {
                    e.preventDefault();

                    var $el = $(this).closest('.js-gallery-item');

                    $(this).find('.fa-close')
                        .removeClass('fa-close')

                    $.ajax({
                        url: $(this).data('url'),
                        method: 'DELETE'
                    }).done(function () {
                        $el.fadeOut();
                    })
                });

            });
        </script>


    {% endblock %}