{% extends "pages/bands/layout.html.twig" %}


{% block right %}
    {{ form_start(bandForm) }}
    <div class="col-md-7">
        <!-- profile-edit-container-->
        <div class="profile-edit-container add-list-container">
            <div class="profile-edit-header fl-wrap">
                <button type="submit" class="btn color-bg flat-btn floatright">Save Changes<i
                            class="fa fa-angle-right"></i>
                </button>
                <h4>Basic Informations</h4>
            </div>
            <div class="custom-form">
                {{ form_row(bandForm.name) }}
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(bandForm.locality, {'attr':{'class':'js-example-basic-single'}}) }}
                    </div>
                    <div class="col-md-6 check-user">
                        {{ form_row(bandForm.styles, {'attr':{'class':'js-example-basic-multiple fullwidth'}}) }}
                    </div>
                </div>
            </div>
        </div>
        <!-- profile-edit-container end-->
        <!-- profile-edit-container-->
        <div class="profile-edit-container add-list-container">
            <div class="profile-edit-header fl-wrap">
                <h4>Location / Contacts</h4>
            </div>
            <div class="custom-form">
                {{ form_row(bandForm.mail) }}
                {{ form_row(bandForm.phone) }}
                {{ form_row(bandForm.website) }}
            </div>
        </div>

        <div class="profile-edit-container add-list-container">
            <div class="profile-edit-header fl-wrap">
                <h4>Detailed Information</h4>
            </div>
            <div class="custom-form">
                {{ form_row(bandForm.description) }}
            </div>
            <div class="custom-form">
                {{ form_row(bandForm.active, {'attr':{'class':'js-example-basic-single fullwidth'}}) }}
            </div>
        </div>
        <button class="btn  big-btn  color-bg flat-btn margintop20">Save Changes<i class="fa fa-angle-right"></i>
        </button>
    </div>

    <!-- profile-edit-container end-->


    {{ form_widget(bandForm._token) }}

    {{ form_end(bandForm, {'render_rest':false}) }}

    <div class="col-md-2">
        <div class="edit-profile-photo fl-wrap">
            <img src="{{ band.logo.url }}" class="respimg" alt="">
        </div>
    </div>


{% endblock %}

