
                <!-- listing-item -->
                {% for v in venues %}
                    <div class="listing-item list-layout">

                        <article class="geodir-category-listing fl-wrap">

                            <div class="geodir-category-img">

                                <img src="{{ v.photo.url }}" alt="">
                                <div class="overlay"></div>
                                <div class="list-post-counter"><span>4</span><i class="fa fa-heart"></i></div>

                            </div>
                            <div class="geodir-category-content fl-wrap">



                                    <div class="listing-avatar">
                                    {% if app.user %}
                                        {% for u in v.managers %}

                                            {% if app.user.slug == u.slug %}
                                                <a class="listing-geodir-category" href="{{ path('venues-update', {'id':v.id}) }}">update</a>
                                            {% endif %}
                                        {% endfor %}

                                    {% endif %}
                                    </div>



                                <h3><a href="{{ path('venue',{'slug': v.slug}) }}">{{ v.name }}</a></h3>

                                <p>{{ v.description }}</p>

                                <div class="geodir-category-options fl-wrap">
                                    <div class="listing-rating card-popup-rainingvis" data-starrating2="5">
                                        <span>(7 reviews)</span>
                                    </div>
                                    <div class="geodir-category-location"><a href="#"><i class="fa fa-map-marker"
                                                                                         aria-hidden="true"></i>{{ v.streetName }}
                                            , {{ v.houseNb }}-{{ v.locality.locality }}</a></div>
                                </div>
                            </div>
                        </article>
                    </div>
                {% endfor %}
                <!-- listing-item end-->
                <!-- pagination-->
                <div class="pagination">
                    {{ knp_pagination_render(venues) }}
                </div>

