<div class="col-md-3">
    <div class="fixed-bar fl-wrap">
        <div class="user-profile-menu-wrap fl-wrap">
            <!-- user-profile-menu-->
            <div class="user-profile-menu">
                <h3>Navigation</h3>
                <ul>
                    <li><a href="{{ path('venues-update',{'id':id}) }}" class="user-profile-act"><i
                                    class="fa fa-user-o"></i> Modification Café-concert</a></li>
                    {#<li><a href="dashboard-messages.html"><i class="fa fa-envelope-o"></i> Messages#}
                    {#<span>3</span></a></li>#}
                    <li><a href="{{ path('image',{'type':'photo', 'id':venue.id}) }}"><i class="fa fa-file-image-o"></i> Modification
                            photo</a></li>

                    <li><a href="{{ path('gallery-image-new', {'type':'venue', 'id':venue.id}) }}"><i class="fa fa-image"></i> Modification Gallery
                        </a></li>

                    <li><a href="{{ path('venues-members', {'id':venue.id}) }}"><i class="fa fa-users"></i> Gestion des managers
                        </a></li>
                    <li><a href="{{ path('remove-venues', {'id':venue.id}) }}"><i class="fa fa-eraser"></i> Suppression café-concert
                        </a></li>
                </ul>
            </div>
            <a href="{{ path('logout') }}" class="log-out-btn">Log Out</a>
        </div>
    </div>
</div>