<div class="col-md-3">
    <div class="fixed-bar fl-wrap">
        <div class="user-profile-menu-wrap fl-wrap">
            <!-- user-profile-menu-->
            <div class="user-profile-menu">
                <h3>Main</h3>
                <ul>
                    <li><a href="{{ path('venues-update',{'id':id}) }}" class="user-profile-act"><i
                                    class="fa fa-user-o"></i> Edit venue</a></li>
                    {#<li><a href="dashboard-messages.html"><i class="fa fa-envelope-o"></i> Messages#}
                    {#<span>3</span></a></li>#}
                    <li><a href="{{ path('image',{'type':'photo', 'id':venue.id}) }}"><i class="fa fa-unlock-alt"></i> Edit
                            photo</a></li>

                    <li><a href="{{ path('gallery-image-new', {'type':'venue', 'id':venue.id}) }}"><i class="fa fa-star"></i> Edit Gallery
                        </a></li>

                    <li><a href="{{ path('venues-members', {'id':venue.id}) }}"><i class="fa fa-users"></i> Manage Members
                        </a></li>
                    <li><a href="{{ path('remove-venues', {'id':venue.id}) }}"><i class="fa fa-users"></i>  Remove Venue
                        </a></li>
                </ul>
            </div>
            <a href="{{ path('logout') }}" class="log-out-btn">Log Out</a>
        </div>
    </div>
</div>