{% extends "pages/default/layout.html.twig" %}

{% block content %}

    <!--content -->
    <div class="content">
        <!--section -->
        <section>
            <!-- container -->
            <div class="container">
                <!-- profile-edit-wrap -->
                <div class="profile-edit-wrap">
                    <div class="profile-edit-page-header">
                        <h2>New venue</h2>
                    </div>
                </div>
                <div class="row">

                    {% block left %}
                        <div class="col-md-7">
                            <!-- profile-edit-container-->
                            {{ form_start(venueForm) }}
                            <div class="profile-edit-container">
                                <div class="profile-edit-header fl-wrap">
                                    <h4>Nom et contacts</h4>
                                </div>
                                <div class="custom-form">
                                    <!-- Nom et contacts -->
                                    {{ form_row(venueForm.name) }}
                                    {{ form_row(venueForm.streetName) }}
                                    {{ form_row(venueForm.houseNb) }}
                                    {{ form_row(venueForm.locality, {'attr':{'class':'chosen-select floatleft fontsize14 marginbottom20'}}) }}
                                    {{ form_row(venueForm.mail) }}
                                    {{ form_row(venueForm.phone) }}
                                    {{ form_row(venueForm.website) }}
                                </div>
                                <div class="profile-edit-header fl-wrap">
                                    <h4>Détails descriptifs</h4>
                                </div>

                                <div class="custom-form margintop20">
                                    {{ form_row(venueForm.styles, {'attr':{'class':'js-example-basic-multiple fullwidth'}}) }}
                                    {{ form_row(venueForm.description) }}
                                    {{ form_row(venueForm.photo) }}
                                    <button class="btn  big-btn  color-bg flat-btn">Save Changes<i
                                                class="fa fa-angle-right"></i></button>
                                </div>
                            </div>
                            {{ form_widget(venueForm._token) }}

                            <!-- profile-edit-container end-->
                            {{ form_end(venueForm, {'render_rest':false}) }}
                        </div>

                    {% endblock %}
                </div>
            </div>
            <!--profile-edit-wrap end -->
            <!--container end -->
        </section>
        <!-- section end -->
        <div class="limit-box fl-wrap"></div>

    </div>


{% endblock %}
