{% extends 'pages/default/layout.html.twig' %}

{% block content %}
    <!--register form -->
    <div>
        <div class="main-overlay"></div>
        <div class="main-register-holder">
            <div class="main-register fl-wrap">
                <h3>Sign In <span>Bands N'<strong> Gigs</strong></span></h3>
                <p>Don't have an account ? <a href="{{ path('registration') }}">click here for register</a></p>
                <div class="soc-log fl-wrap">
                    <p>For faster login use your social account.</p>
                    <a href="{{ path('connect_google') }}" class="google-log"><i class="fa fa-google-plus-official"></i>Login with Google</a>
                </div>
                <div class="log-separator fl-wrap"><span>or</span></div>
                <div id="tabs-container">
                    <div class="tab">
                        <div id="tab-1" class="tab-content">
                            <div class="custom-form">
                                {% if error %}
                                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                {% endif %}
                                <form method="post" action="{{ path('login') }}">
                                    <label>Username or Email Address * </label>
                                    <input type="email" name="_username" id="username" value="{{ last_username }}">
                                    <label>Password * </label>
                                    <input type="password" name="_password" id="password">
                                    <button type="submit" class="log-submit-btn"><span>Log In</span></button>
                                    <div class="clearfix"></div>
                                </form>
                                <div class="lost_password">
                                    <a href="#">Lost Your Password?</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--register form end -->
{% endblock %}
