{% extends 'pages/default/layout.html.twig' %}

{% block content %}
    <!--register form -->
    <div>
        <div class="main-overlay"></div>
        <div class="main-register-holder">
            <div class="main-register fl-wrap">
                <h3>Sign In <span>Bands N'<strong> Gigs</strong></span></h3>
                <p>Vous n'avez pas de compte ? <span class="fontsize14"><a href="{{ path('registration') }}">cliquez ici pour vous enregistrer</a></span></p>
                <div class="soc-log fl-wrap">
                    <p>Pour vous connecter plus rapidement, utilisez votre compte Google.</p>
                    <a href="{{ path('connect_google') }}" class="google-log"><i class="fa fa-google-plus-official"></i>Se connecter avec Google</a>
                </div>
                <div class="log-separator fl-wrap"><span>ou</span></div>
                <div id="tabs-container">
                    <div class="tab">
                        <div id="tab-1" class="tab-content">
                            <div class="custom-form">

                                    {% if error %}
                                    <div class="alert alert-danger">
                                        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                    </div>
                                    {% endif %}

                                <form method="post" action="{{ path('login') }}">
                                     <label>Adresse e-mail *</label>
                                     <input type="email" name="_username" id="username" value="{{ last_username }}">
                                     <label>Mot de passe * </label>
                                      <input type="password" name="_password" id="password">
                                     <button type="submit" class="log-submit-btn"><span>Se connecter</span></button>
                                     <div class="clearfix"></div>
                                 </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--register form end -->
{% endblock %}
