{% extends "pages/users/layout.html.twig" %}

{% block right %}

    <div class="col-md-9">
        <!-- profile-edit-container-->
        <div class="profile-edit-container">
            <div class="profile-edit-header fl-wrap" style="margin-top:30px">
                <h4>Change Password</h4>
            </div>
            {{ form_start(pwdForm, {attr:{novalidate:'novalidate'}}) }}

            <div class="custom-form no-icons">

                {{ form_row(pwdForm.oldPassword, {'label':'Current Password', 'attr':{'class':'pass-input'}}) }}
                {{ form_row(pwdForm.password.first, {'label':'New Password', 'attr':{'class':'pass-input'}}) }}
                {{ form_row(pwdForm.password.second, {'label':'Confirm New Password', 'attr':{'class':'pass-input'}}) }}


                <button type="submit" class="btn  big-btn  color-bg flat-btn">Save Changes<i
                            class="fa fa-angle-right"></i></button>

            </div>
            {{ form_end(pwdForm) }}
        </div>
        <!-- profile-edit-container end-->
    </div>

{% endblock %}

