<!-- header-->
<header class="main-header dark-header fs-header sticky">
    <div class="header-inner">
        <div class="logo-holder">
            <a href="{{ path('homepage') }}"><img src="/images/logo.png" alt="band's n gigs"></a>
        </div>
        {#<a href="#" class="add-list">Add Listing <span><i class="fa fa-plus"></i></span></a>#}
        {%  if app.user == null %}
        <a href="{{ path('login') }}"><div class="show-reg-form"><i class="fa fa-sign-in"></i>Sign In</div></a>
       {% else %}
           <div class="header-user-menu">
               <div class="header-user-name">
                   <a href="{{ path('user', {'id':app.user.id}) }}">
                       {% if (app.user.avatar) %}
                           <span><img src="{{ app.user.avatar.url }}" alt="{{ app.user.firstName }}"></span>
                           {% else %}
                               <span><img src="/images/avatar/avatar-bg.png"></span>
                       {% endif %}</a>
                   Hello , {% if (app.user.firstName) %}{{ app.user.firstName }}{% endif %}
               </div>
               <ul>
                   <li><a href="{{ path('profile') }}"> Edit profile</a></li>
                   <li><a href="{{ path('logout') }}">Log Out</a></li>
               </ul>
           </div>

        {% endif %}
        <!--  navigation -->

       {% include "pages/default/nav.html.twig" %}
        <!-- navigation  end -->
    </div>
</header>
<!--  header end -->
