<!-- nav-button-wrap-->
<div class="nav-button-wrap color-bg">
    <div class="nav-button">
        <span></span><span></span><span></span>
    </div>
</div>
<!-- nav-button-wrap end-->
<!--  navigation -->
<div class="nav-holder main-menu">
    <nav>
        <ul>
            <li>
                <a href="{{ path('homepage') }}">Home</a>
            </li>
            <li>
                <a href="{{ path('bands') }}">Bands<i class="fa fa-caret-down"></i></a>
               <!--second level -->
                <ul>
                    <li><a href="{{ path('band-new') }}">New band</a></li>
                    {% if app.user %}
                    <li><a href="{{ path('bands-manage') }}">Manage bands</a></li>
                    {% endif %}
                </ul>

            </li>
            <li>
                <a href="{{ path('venues') }}">Venues<i class="fa fa-caret-down"></i></a>
                <ul>
                    <li><a href="{{ path('venue-new') }}">New venue</a></li>
                    <li><a href="{{ path('venues-manage') }}">Manage venues</a></li>

                </ul>

            </li>
            <li>
                <a href="{{ path('events') }}">Events<i class="fa fa-caret-down"></i></a>
                <ul>
                    <li><a href="{{ path('event-new') }}">New event</a></li>

                </ul>
            </li>
        </ul>
    </nav>
</div>
<!-- navigation  end -->
