<!-- nav-button-wrap-->
<div class="nav-button-wrap color-bg">
    <div class="nav-button">
        <span></span><span></span><span></span>
    </div>
</div>
<!-- nav-button-wrap end-->
<!--  navigation -->
<div class="nav-holder main-menu">
    <nav>
        <ul>
            <li>
                <a href="{{ path('homepage') }}">Home</a>
            </li>
            <li>
                <a href="{{ path('bands') }}">Groupes<i class="fa fa-caret-down"></i></a>
                <!--second level -->
                <ul>

                    <li><a href="{{ path('bands') }}">Liste</a></li>

                    {% if app.user %}
                        <li><a href="{{ path('band-new') }}">Nouveau</a></li>
                        <li><a href="{{ path('bands-manage') }}">Gestion</a></li>
                        <li><a href="{{ path('favorites-bands') }}">Favoris</a></li>
                    {% endif %}
                </ul>

            </li>
            <li>
                <a href="{{ path('venues') }}">Cafés-concerts<i class="fa fa-caret-down"></i></a>
                <ul>
                    <li><a href="{{ path('venues') }}">Liste</a></li>

                    {% if app.user %}
                        <li><a href="{{ path('venue-new') }}">Nouveau</a></li>
                        <li><a href="{{ path('venues-manage') }}">Gestion</a></li>
                        <li><a href="{{ path('favorites-venues') }}">Favoris</a></li>
                    {% endif %}
                </ul>

            </li>
            <li>
                <a href="{{ path('events') }}">Evènements<i class="fa fa-caret-down"></i></a>
                <ul>
                    <li><a href="{{ path('events') }}">Liste</a></li>

                    {% if app.user %}
                        <li><a href="{{ path('event-new') }}">Nouveau</a></li>
                        <li><a href="{{ path('events-manage') }}">Gestion</a></li>
                        <li><a href="{{ path('favorites-events') }}">Favoris</a></li>
                    {% endif %}
                </ul>
            </li>
        </ul>
    </nav>
</div>
<!-- navigation  end -->
